/* Estilo para el título */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para los párrafos */
p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Estilo para los párrafos fuertes (strong) */
p strong {
    color: #FF0000; /* Color rojo para los elementos strong */
}